<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>984375157255-vreu9mo5ijq0vmctv5qnn1q40doft49b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.984375157255-vreu9mo5ijq0vmctv5qnn1q40doft49b</string>
	<key>API_KEY</key>
	<string>AIzaSyDcjEs4XGDptZiFXkESG3UEtzjWuAnRpwI</string>
	<key>GCM_SENDER_ID</key>
	<string>984375157255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marwan.importfolio</string>
	<key>PROJECT_ID</key>
	<string>importfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>importfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:984375157255:ios:caec35ae0cba57728dc0a2</string>
</dict>
</plist>